# Binaries
bin/
*.exe
*.dll
*.so
*.dylib
__debug*

ptz-test/
cs-api-client/
cs-api-viewer/
scripts/*
!scripts/seed-connected-systems/
!scripts/seed-connected-systems/**

# Test binary
*.test

# Output of the go coverage tool
*.out
coverage.out

# Dependency directories
vendor/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Config files with secrets
config.yaml
*.env
mosquitto_passwd

# Logs
*.log

# Database
*.db
*.sqlite

CLAUDE.md
Current Issues.md
connected-systems-go.code-workspace
connected-systems-go.code-workspace
cmd/server/server

build

dist
