openapi: 3.1.0
info:
  title: 'OGC API - Connected Systems - Part 2: Dynamic Data'
  version: 0.0.1
  description: Example OpenAPI specification for part 2 of [OGC API - Connected Systems](https://github.com/opengeospatial/connected_systems).
  contact:
    name: OGC API Support
    url: https://www.ogc.org/contact
    email: info@ogc.org
  license:
    name: OGC License
    url: https://www.ogc.org/ogc/Document
  x-logo:
    url: https://www.ogc.org/wp-content/uploads/2023/03/OGC-1.svg
    backgroundColor: '#FFFFFF'
    altText: OGC logo
    href: https://www.ogc.org
servers:
  - url: https://api.georobotix.io/ogc/t18/api
    description: OGC Testbed Demo Server
  - url: http://localhost:8181/sensorhub/api
    description: Local test server
tags:
  - name: Data Streams
    description: |-
      Datastreams allow access to observations produced by systems, in various formats.
      They also provide metadata describing the exact meaning of properties included in the observations.

      API clients can act both as sender of receiver of observations.
  - name: Observations
    description: Access to historical and real-time observations.
  - name: Control Streams
    description: |-
      Control channels (or control streams) allow sending commands to systems, in various formats.
      They also provide metadata describing the exact meaning and content of command messages.

      API clients can act both as sender or receiver of commands.
  - name: Commands
    description: Access to historical and real-time commands.
  - name: System Events
    description: System events are used to notify users of changes to one or more systems.
  - name: System History
    description: Advanced access to historical system descriptions.
paths:
  /commands:
    get:
      summary: List all available commands
      description: List or search all commands available from this server endpoint.
      tags:
        - Commands
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/issueTime'
        - $ref: '#/components/parameters/executionTime'
        - $ref: '#/components/parameters/statusCodeList'
        - $ref: '#/components/parameters/senderList'
        - $ref: '#/components/parameters/controlStreamIdList'
        - $ref: '#/components/parameters/systemIdList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/commandCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /controlstreams/{controlStreamId}/commands:
    parameters:
      - $ref: '#/components/parameters/controlStreamId'
    get:
      summary: List commands from a specific control stream
      description: List or search all commands received in a specific control stream.
      tags:
        - Commands
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/issueTime'
        - $ref: '#/components/parameters/executionTime'
        - $ref: '#/components/parameters/statusCodeList'
        - $ref: '#/components/parameters/senderList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/commandCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Send a command
      description: Send a new command to an existing control stream.
      tags:
        - Commands
      requestBody:
        $ref: '#/components/requestBodies/command'
      responses:
        '200':
          $ref: '#/components/responses/resourceLinks'
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /commands/{cmdId}:
    parameters:
      - $ref: '#/components/parameters/cmdId'
    get:
      summary: Get a command by ID
      description: null
      tags:
        - Commands
      responses:
        '200':
          $ref: '#/components/responses/command'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a command
      description: null
      tags:
        - Commands
      requestBody:
        $ref: '#/components/requestBodies/command'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a command
      description: This will delete the command and remove it from all collections it is associated to.
      tags:
        - Commands
      parameters:
        - $ref: '#/components/parameters/cmdId'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /commands/{cmdId}/status:
    parameters:
      - $ref: '#/components/parameters/cmdId'
    get:
      summary: List command status reports
      description: List or search all status reports associated to a given command
      tags:
        - Commands
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/reportTime'
        - $ref: '#/components/parameters/statusCodeList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/commandStatusCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Add a command status report
      description: Add a new status report related to a specific command.
      tags:
        - Commands
      requestBody:
        $ref: '#/components/requestBodies/commandStatus'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /commands/{cmdId}/status/{statusId}:
    parameters:
      - $ref: '#/components/parameters/cmdId'
      - $ref: '#/components/parameters/statusId'
    get:
      summary: Get a status report by ID
      description: null
      tags:
        - Commands
      responses:
        '200':
          $ref: '#/components/responses/commandStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a command status report
      description: null
      tags:
        - Commands
      requestBody:
        $ref: '#/components/requestBodies/commandStatus'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a command status report
      tags:
        - Commands
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /commands/{cmdId}/result:
    parameters:
      - $ref: '#/components/parameters/cmdId'
    get:
      summary: List command results
      description: List or search all result items associated to a given command.
      tags:
        - Commands
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/commandResultCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Add a command result
      description: Add a new result generated in response to a specific command.
      tags:
        - Commands
      requestBody:
        $ref: '#/components/requestBodies/commandResult'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /commands/{cmdId}/result/{resultId}:
    parameters:
      - $ref: '#/components/parameters/cmdId'
      - $ref: '#/components/parameters/resultId'
    get:
      summary: Get a command result by ID
      description: null
      tags:
        - Commands
      responses:
        '200':
          $ref: '#/components/responses/commandResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a command result
      description: null
      tags:
        - Commands
      requestBody:
        $ref: '#/components/requestBodies/commandResult'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a command result
      tags:
        - Commands
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
components:
  schemas:
    idListSchema:
      description: List of resource local IDs or unique identifiers (URIs).
      oneOf:
        - type: array
          title: Local IDs
          minItems: 1
          items:
            type: string
            minLength: 1
        - type: array
          title: Unique IDs
          minItems: 1
          items:
            type: string
            format: uri
    datetimeSchema:
      oneOf:
        - title: Time Instant
          description: |-
            ISO 8601 encoded time instant or special value.
            Examples:
              * A time instant: "2020-02-12T23:20:50Z" or "2020-01-15Z"
              * Special indeterminate value: "now", "latest"
          oneOf:
            - title: ISO Date
              type: string
              format: date
            - title: ISO Date/Time
              type: string
              format: date-time
            - title: Special Value
              type: string
              enum:
                - now
                - latest
        - title: Time Period
          description: |-
            ISO 8601 encoded time period that can include special values.
            Examples:
              * A closed interval: "2020-02-12T00:00:00Z/2020-03-18T12:31:12Z" or "2020-01-15Z/2020-02-16Z"
              * An open interval: "2020-02-12T00:00:00Z/.." or "../2020-03-18T12:31:12Z"
              * An interval with indeterminate value: "2020-02-12T00:00:00Z/now", "2020-02-12T00:00:00Z/latest" or "now/.."
          type: array
          minItems: 2
          maxItems: 2
          items:
            oneOf:
              - title: ISO Date
                type: string
                format: date
              - title: ISO Date/Time
                type: string
                format: date-time
              - title: Special Value
                type: string
                enum:
                  - now
                  - latest
    link:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Link
      description: Link object following standard Web Linking conventions (see RFC5988 and RFC6690)
      type: object
      required:
        - href
      properties:
        href:
          description: URL of target resource
          type: string
          format: uri
          examples:
            - https://data.example.com/link/to/resource
        rel:
          description: Link relation type
          type: string
          examples:
            - alternate
            - self
            - http://www.opengis.net/def/rel/ogc/1.0/conformance
        type:
          description: Media type of target resource
          type: string
          examples:
            - application/json
            - image/tiff; application=geotiff
        hreflang:
          description: Language tag of target resource (2-letter language code, followed by optional 2-letter region code)
          type: string
          minLength: 1
          pattern: ^([a-z]{2}(-[A-Z]{2})?)|x-default$
          examples:
            - en-US
            - fr-FR
            - de
        title:
          description: Title of target resource
          type: string
          minLength: 1
          examples:
            - Resource Name
        uid:
          description: Unique identifier of target resource
          type: string
          format: uri
          examples:
            - urn:x-org:resourceType:0001
        rt:
          description: Semantic type of target resource (RFC 6690)
          type: string
          format: uri
          examples:
            - http://www.example.org/uri/of/concept
        if:
          description: Interface used to access target resource (RFC 6690)
          type: string
          format: uri
          examples:
            - http://www.opengis.net/spec/spec-id/version
    timeInstant:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Instant
      type: string
      format: date-time
    timeInstantOrNow:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Instant
      oneOf:
        - $ref: '#/components/schemas/timeInstant'
        - type: string
          const: now
    timePeriod:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Period
      type: array
      minItems: 2
      maxItems: 2
      items:
        $ref: '#/components/schemas/timeInstantOrNow'
    commandStatusCode:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: string
      oneOf:
        - const: PENDING
          description: The command is pending, meaning it has been received by the system but no decision to accept or reject it has been taken.
        - const: ACCEPTED
          description: The command was accepted by the receiving system. This usually means that the command has passed the first validation steps but note that it can still be rejected later or fail during execution. An estimated execution time can optionally be provided using the `executionTime` property.
        - const: REJECTED
          description: The command was rejected by the receiving system. It won't be executed at all and the `message` property provides the reason for the rejection. This is a final state. No further status updates will be sent.
        - const: SCHEDULED
          description: The command was validated and effectively scheduled by the receiving system. When this status code is used, the scheduled execution time must be provided using the `executionTime` property. Note that systems are not required to notify the planned execution time before execution.
        - const: UPDATED
          description: An update to the command was received and accepted. This code must be used if the system supports task updates. See the `ACCEPTED` status code for other details.
        - const: CANCELED
          description: The command was canceled by an authorized user. This code must be used if the system supports user driven task cancellations. The `REJECTED` and `FAILED` status codes are used instead if the command was canceled by the receiving system. This is a final state. No further status updates will be sent.
        - const: EXECUTING
          description: The command is currently being executed by the receiving system. The status message can provide more information about the current progress using the `percentCompletion` and `message` properties. A system can send several status updates with this code but different time stamps to report progress incrementally (e.g., for multi-stage executions). In particular, the progress percentage and the end of the (estimated) execution time period can be refined at each update.
        - const: FAILED
          description: The command has failed during execution. The `message` property provides the reason for failure. This is a final state. No further status updates will be sent.
        - const: COMPLETED
          description: The command has completed after a successful execution. The actual execution time must be provided using the `executionTime` property. This is a final state. No further status updates will be sent.
    command:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        id:
          description: Local ID of the command
          type: string
          minLength: 1
          readOnly: true
        controlstream@id:
          description: Local ID of the control stream that the command is part of. This can be omitted when posting the command to a specific control stream URL.
          type: string
          minLength: 1
          readOnly: true
        samplingFeature@id:
          description: Local ID of the sampling feature that is the target of the command
          type: string
          minLength: 1
        procedure@link:
          description: Link to the procedure/method used to process the command
          $ref: '#/components/schemas/link'
        issueTime:
          description: Time at which the command was issued. If omitted on creation, the server sets it to the time the request was received.
          $ref: '#/components/schemas/timeInstant'
          readOnly: true
        executionTime:
          description: Time period during which the command was executed
          $ref: '#/components/schemas/timePeriod'
          readOnly: true
        sender:
          description: Identifier of the person or entity who submitted the command
          type: string
          minLength: 1
          readOnly: true
        currentStatus:
          description: Current status of the command
          $ref: '#/components/schemas/commandStatusCode'
          readOnly: true
        parameters:
          description: Command parameters. Must be valid according to the schema provided in the control stream metadata
      required:
        - id
        - controlstream@id
        - issueTime
        - parameters
    links:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Link Collection
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/link'
    commandCollection:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/command'
        links:
          description: Links to related resources (including paging)
          $ref: '#/components/schemas/links'
      required:
        - items
    commandResult:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        id:
          description: Local identifier of the result resource
          type: string
          minLength: 1
          readOnly: true
        command@id:
          description: Local identifier of the command that this result is associated to
          type: string
          minLength: 1
          readOnly: true
      required:
        - id
        - command@id
      oneOf:
        - title: Inline result
          properties:
            id: {}
            command@id: {}
            data:
              description: Inline JSON data encoded according to the control stream result schema
          required:
            - data
        - title: Link to a single observation
          properties:
            id: {}
            command@id: {}
            observation@link:
              description: Link to an observation resulting from the execution of the command
              $ref: '#/components/schemas/link'
          required:
            - observation@link
        - title: Link to a set of observations
          properties:
            id: {}
            command@id: {}
            observationSet@link:
              description: Link to a set of observations resulting from the execution of the command
              $ref: '#/components/schemas/link'
          required:
            - observationSet@link
        - title: Link to a datastream
          properties:
            id: {}
            command@id: {}
            datastream@link:
              description: Link to a datastream containing observations resulting from the execution of the command
              allOf:
                - $ref: '#/components/schemas/link'
                - properties:
                    resultTime:
                      description: Time range during which the resulting observations were generated (If not provided, the entire datastream is assumed to be the result)
                      $ref: '#/components/schemas/timePeriod'
          required:
            - datastream@link
        - title: Link to an external dataset
          properties:
            id: {}
            command@id: {}
            external@link:
              description: Link to an external dataset containing the result(s) of the command
              $ref: '#/components/schemas/link'
          required:
            - external@link
    commandStatus:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        id:
          description: Local identifier of the status report
          type: string
          minLength: 1
          readOnly: true
        command@id:
          description: Local identifier of the command that this report applies to
          type: string
          minLength: 1
          readOnly: true
        reportTime:
          description: Time at which this report was generated. If omitted on creation, the server sets it to the time the request was received.
          $ref: '#/components/schemas/timeInstant'
          readOnly: true
        statusCode:
          description: Current status code
          $ref: '#/components/schemas/commandStatusCode'
        percentCompletion:
          description: Current progress expressed as a percentage of total task execution
          type: number
          minimum: 0
          maximum: 100
        executionTime:
          description: Time period during which the command was executed or is scheduled to be executed (depending on status code)
          $ref: '#/components/schemas/timePeriod'
        message:
          description: Human readable message providing more details on the current status (can be both an error or information message depending on the status code)
          type: string
          minLength: 1
        results:
          description: New result(s) of the command available at the time of the progress report (can be a partial result)
          type: array
          items:
            $ref: '#/components/schemas/commandResult'
      required:
        - id
        - command@id
        - reportTime
        - statusCode
    commandStatusCollection:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/commandStatus'
        links:
          description: Links to related resources (including paging)
          $ref: '#/components/schemas/links'
      required:
        - items
    commandResultCollection:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/commandResult'
        links:
          description: Links to related resources (including paging)
          $ref: '#/components/schemas/links'
      required:
        - items
  parameters:
    idList:
      name: id
      description: |-
        List of resource local IDs or unique IDs (URI).
        Only resources that have one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
      examples:
        id:
          summary: Local IDs
          value: RES_ID1,RES_ID2,RES_ID63
        uri:
          summary: Unique IDs
          value: urn:example:resource:001,urn:example:resource:033
    issueTime:
      name: issueTime
      in: query
      description: |-
        Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
        Intervals may be bounded or half-bounded (double-dots at start or end).

        Only resources with a `issueTime` property that intersects the value of the
        `issueTime` parameter are selected.
      required: false
      schema:
        $ref: '#/components/schemas/datetimeSchema'
      style: form
      explode: false
      examples:
        instant:
          summary: Time instant
          value: '2018-02-12T23:20:50Z'
        now:
          summary: Current time
          value: now
        period:
          summary: Bounded interval
          value: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
        period2:
          summary: Half-bounded interval
          value: 2018-02-12T00:00:00Z/..
        period3:
          summary: From date/time to now
          value: 2018-02-12T00:00:00Z/now
        period4:
          summary: From now to date/time
          value: now/2018-02-12T00:00:00Z
        period5:
          summary: Anything up to now
          value: ../now
        period6:
          summary: Anything from now on
          value: now/..
        latest:
          summary: Latest
          value: latest
    executionTime:
      name: executionTime
      in: query
      description: |-
        Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
        Intervals may be bounded or half-bounded (double-dots at start or end).

        Only resources with a `executionTime` property that intersects the value of the
        `executionTime` parameter are selected.
      required: false
      schema:
        $ref: '#/components/schemas/datetimeSchema'
      style: form
      explode: false
      examples:
        instant:
          summary: Time instant
          value: '2018-02-12T23:20:50Z'
        now:
          summary: Current time
          value: now
        period:
          summary: Bounded interval
          value: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
        period2:
          summary: Half-bounded interval
          value: 2018-02-12T00:00:00Z/..
        period3:
          summary: From date/time to now
          value: 2018-02-12T00:00:00Z/now
        period4:
          summary: From now to date/time
          value: now/2018-02-12T00:00:00Z
        period5:
          summary: Anything up to now
          value: ../now
        period6:
          summary: Anything from now on
          value: now/..
        latest:
          summary: Latest
          value: latest
    statusCodeList:
      name: statusCode
      description: |-
        List of command status codes.
        Only command resources whose current status matches one of the provided status codes are selected.
      in: query
      required: false
      schema:
        type: array
        minItems: 1
        items:
          type: string
          enum:
            - PENDING
            - ACCEPTED
            - REJECTED
            - SCHEDULED
            - UPDATED
            - CANCELED
            - EXECUTING
            - FAILED
            - COMPLETED
      explode: false
    senderList:
      name: sender
      description: |-
        List of sender IDs.
        Only command resources issued by one of the specified senders are selected.
      in: query
      required: false
      schema:
        type: array
        minItems: 1
        items:
          type: string
      explode: false
    controlStreamIdList:
      name: controlStream
      description: |-
        List of control stream local IDs or unique IDs (URI).
        Only resources that are associated to a control stream that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    systemIdList:
      name: system
      description: |-
        List of system local IDs or unique IDs (URI).
        Only resources that are associated to a System that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    foiIdList:
      name: foi
      description: |-
        List of feature local IDs or unique IDs (URI).
        Only resources that are associated to a feature of interest that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    controlPropIdList:
      name: controlledProperty
      description: |-
        List of property local IDs or unique IDs (URI).
        Only resources that are associated to a controllable property that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    limit:
      name: limit
      in: query
      description: |-
        This parameter limits the number of items that are presented in the response document.

        Only items that are on the first level of the collection in the response document are counted.
        Nested objects contained within the explicitly requested items shall not be counted.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 10
      style: form
      explode: false
    controlStreamId:
      name: controlStreamId
      in: path
      description: Local identifier of a Control Stream
      required: true
      schema:
        type: string
        minLength: 1
    cmdId:
      name: cmdId
      in: path
      description: Local identifier of a Command
      required: true
      schema:
        type: string
        minLength: 1
    reportTime:
      name: reportTime
      in: query
      description: |-
        Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
        Intervals may be bounded or half-bounded (double-dots at start or end).

        Only resources with a `reportTime` property that intersects the value of the
        `reportTime` parameter are selected.
      required: false
      schema:
        $ref: '#/components/schemas/datetimeSchema'
      style: form
      explode: false
      examples:
        instant:
          summary: Time instant
          value: '2018-02-12T23:20:50Z'
        now:
          summary: Current time
          value: now
        period:
          summary: Bounded interval
          value: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
        period2:
          summary: Half-bounded interval
          value: 2018-02-12T00:00:00Z/..
        period3:
          summary: From date/time to now
          value: 2018-02-12T00:00:00Z/now
        period4:
          summary: From now to date/time
          value: now/2018-02-12T00:00:00Z
        period5:
          summary: Anything up to now
          value: ../now
        period6:
          summary: Anything from now on
          value: now/..
        latest:
          summary: Latest
          value: latest
    statusId:
      name: statusId
      in: path
      description: Local identifier of a Status Report
      required: true
      schema:
        type: string
        minLength: 1
    resultId:
      name: resultId
      in: path
      description: Local identifier of a Command Result
      required: true
      schema:
        type: string
        minLength: 1
  responses:
    '201':
      description: Success. New resource created.
      headers:
        Location:
          schema:
            type: string
          description: URI of newly created resource
    '400':
      description: Bad request. Either the query parameters or the content body are invalid.
    '401':
      description: No authentication information was provided.
    '403':
      description: The user doesn't have the necessary permissions to access the resource.
    '404':
      description: No resource was found with the specified URL.
    commandCollection:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandCollection'
        application/swe+json:
          schema:
            type: object
            required: items
            properties:
              items:
                type: array
                items:
                  type: object
              links:
                description: Links to related resources (including paging)
                $ref: '#/components/schemas/links'
    5XX:
      description: Unexpected server error. Only retry on 502 and 503.
    resourceLinks:
      description: Success. Several new resources created. (Only sent if the payload contained an array of resources).
      content:
        application/json:
          schema:
            type: object
            required:
              - items
            properties:
              items:
                description: Array of resource URIs
                type: array
                items:
                  type: string
                  format: uri
          example:
            - https://data.example.org/api/{collection_path}/546861
            - https://data.example.org/api/{collection_path}/546862
            - https://data.example.org/api/{collection_path}/546863
    command:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/command'
            properties:
              links:
                description: Links to related resources
                $ref: ../schemas/common/commonDefs.json#/$defs/Links
          examples:
            ptz:
              summary: PTZ Command
              value:
                $ref: ../examples/commands/command-ptz.json
        application/swe+csv:
          example: 2021-03-15T04:53:34.248Z,-10,23,0.4
    204_PUT:
      description: Success. Resource updated.
    204_DELETE:
      description: Success. Resource deleted.
    409_DELETE:
      description: The resource cannot be deleted because other resources depend on it.
    commandStatusCollection:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandStatusCollection'
    commandStatus:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandStatus'
            properties:
              links:
                description: Links to related resources
                $ref: ../schemas/common/commonDefs.json#/$defs/Links
    commandResultCollection:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandResultCollection'
    commandResult:
      description: OK. Successful request
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/commandResult'
              - properties:
                  links:
                    description: Links to related resources
                    $ref: '#/components/schemas/links'
  requestBodies:
    command:
      description: A single `Command` resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/command'
          examples:
            ptz:
              summary: PTZ Command
              value:
                $ref: ../examples/commands/command-ptz-create.json
        application/swe+csv:
          example: 2021-03-15T04:53:34.023Z,-10,23,0.4
    commandStatus:
      description: A single `CommandStatus` resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandStatus'
            properties:
              links:
                description: Links to related resources
                $ref: ../schemas/common/commonDefs.json#/$defs/Links
    commandResult:
      description: A single `CommandResult` resource
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/commandResult'
              - properties:
                  links:
                    description: Links to related resources
                    $ref: '#/components/schemas/links'
