openapi: 3.1.0
info:
  title: 'OGC API - Connected Systems - Part 2: Dynamic Data'
  version: 0.0.1
  description: Example OpenAPI specification for part 2 of [OGC API - Connected Systems](https://github.com/opengeospatial/connected_systems).
  contact:
    name: OGC API Support
    url: https://www.ogc.org/contact
    email: info@ogc.org
  license:
    name: OGC License
    url: https://www.ogc.org/ogc/Document
  x-logo:
    url: https://www.ogc.org/wp-content/uploads/2023/03/OGC-1.svg
    backgroundColor: '#FFFFFF'
    altText: OGC logo
    href: https://www.ogc.org
servers:
  - url: https://api.georobotix.io/ogc/t18/api
    description: OGC Testbed Demo Server
  - url: http://localhost:8181/sensorhub/api
    description: Local test server
tags:
  - name: Data Streams
    description: |-
      Datastreams allow access to observations produced by systems, in various formats.
      They also provide metadata describing the exact meaning of properties included in the observations.

      API clients can act both as sender of receiver of observations.
  - name: Observations
    description: Access to historical and real-time observations.
  - name: Control Streams
    description: |-
      Control channels (or control streams) allow sending commands to systems, in various formats.
      They also provide metadata describing the exact meaning and content of command messages.

      API clients can act both as sender or receiver of commands.
  - name: Commands
    description: Access to historical and real-time commands.
  - name: System Events
    description: System events are used to notify users of changes to one or more systems.
  - name: System History
    description: Advanced access to historical system descriptions.
paths:
  /controlstreams:
    get:
      summary: List all available control streams
      description: List or search all control streams available from this server endpoint.
      tags:
        - Control Streams
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/issueTime'
        - $ref: '#/components/parameters/executionTime'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/systemIdList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/controlStreamCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /systems/{systemId}/controlstreams:
    parameters:
      - $ref: '#/components/parameters/systemId'
    get:
      summary: List control streams of a specific system
      description: List or search control streams available from a parent system.
      tags:
        - Control Streams
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/issueTime'
        - $ref: '#/components/parameters/executionTime'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/controlStreamCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Add a control stream
      description: Add a new control stream to an existing system.
      tags:
        - Control Streams
      requestBody:
        $ref: '#/components/requestBodies/controlStream'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /controlstreams/{controlStreamId}:
    parameters:
      - $ref: '#/components/parameters/controlStreamId'
    get:
      summary: Get a control stream by ID
      description: null
      tags:
        - Control Streams
      responses:
        '200':
          $ref: '#/components/responses/controlStream'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a control stream
      description: null
      tags:
        - Control Streams
      requestBody:
        $ref: '#/components/requestBodies/controlStream'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a control stream
      description: |-
        This will delete the control stream and remove it from all collections it is associated to.

        If the `cascade` parameter is used, all associated commands and command status are also deleted.
      tags:
        - Control Streams
      parameters:
        - $ref: '#/components/parameters/cascade'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /controlstreams/{controlStreamId}/schema:
    parameters:
      - $ref: '#/components/parameters/controlStreamId'
    get:
      summary: Get the command schema
      description: |-
        Get the command schema for a given format.

        The type of command schema returned depends on the command encoding format selected using the `commandFormat` parameter.
      tags:
        - Control Streams
      parameters:
        - $ref: '#/components/parameters/cmdFormat'
      responses:
        '200':
          $ref: '#/components/responses/commandSchema'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update the command schema
      description: |-
        After a control stream has been created and commands have been issued through it, the server may
        reject certain updates to the schema (e.g., adding or removing parameters, changing UoM, etc.).
        In this case, the `409` response code is used.
      tags:
        - Control Streams
      requestBody:
        $ref: '#/components/requestBodies/commandSchema'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_PUT'
        5XX:
          $ref: '#/components/responses/5XX'
components:
  schemas:
    idListSchema:
      description: List of resource local IDs or unique identifiers (URIs).
      oneOf:
        - type: array
          title: Local IDs
          minItems: 1
          items:
            type: string
            minLength: 1
        - type: array
          title: Unique IDs
          minItems: 1
          items:
            type: string
            format: uri
    datetimeSchema:
      oneOf:
        - title: Time Instant
          description: |-
            ISO 8601 encoded time instant or special value.
            Examples:
              * A time instant: "2020-02-12T23:20:50Z" or "2020-01-15Z"
              * Special indeterminate value: "now", "latest"
          oneOf:
            - title: ISO Date
              type: string
              format: date
            - title: ISO Date/Time
              type: string
              format: date-time
            - title: Special Value
              type: string
              enum:
                - now
                - latest
        - title: Time Period
          description: |-
            ISO 8601 encoded time period that can include special values.
            Examples:
              * A closed interval: "2020-02-12T00:00:00Z/2020-03-18T12:31:12Z" or "2020-01-15Z/2020-02-16Z"
              * An open interval: "2020-02-12T00:00:00Z/.." or "../2020-03-18T12:31:12Z"
              * An interval with indeterminate value: "2020-02-12T00:00:00Z/now", "2020-02-12T00:00:00Z/latest" or "now/.."
          type: array
          minItems: 2
          maxItems: 2
          items:
            oneOf:
              - title: ISO Date
                type: string
                format: date
              - title: ISO Date/Time
                type: string
                format: date-time
              - title: Special Value
                type: string
                enum:
                  - now
                  - latest
    timeInstant:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Instant
      type: string
      format: date-time
    timeInstantOrNow:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Instant
      oneOf:
        - $ref: '#/components/schemas/timeInstant'
        - type: string
          const: now
    timePeriod:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Period
      type: array
      minItems: 2
      maxItems: 2
      items:
        $ref: '#/components/schemas/timeInstantOrNow'
    baseStream:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        id:
          description: Local resource ID. If set on creation, the server may ignore it.
          type: string
          minLength: 1
          readOnly: true
        name:
          description: Human readable name of the resource
          type: string
          minLength: 1
        description:
          description: Human readable description of the resource
          type: string
          minLength: 1
        validTime:
          description: Validity period of the resource
          $ref: '#/components/schemas/timePeriod'
        formats:
          description: List of available formats
          type: array
          minItems: 1
          items:
            type: string
          readOnly: true
      required:
        - id
        - name
        - formats
    link:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Link
      description: Link object following standard Web Linking conventions (see RFC5988 and RFC6690)
      type: object
      required:
        - href
      properties:
        href:
          description: URL of target resource
          type: string
          format: uri
          examples:
            - https://data.example.com/link/to/resource
        rel:
          description: Link relation type
          type: string
          examples:
            - alternate
            - self
            - http://www.opengis.net/def/rel/ogc/1.0/conformance
        type:
          description: Media type of target resource
          type: string
          examples:
            - application/json
            - image/tiff; application=geotiff
        hreflang:
          description: Language tag of target resource (2-letter language code, followed by optional 2-letter region code)
          type: string
          minLength: 1
          pattern: ^([a-z]{2}(-[A-Z]{2})?)|x-default$
          examples:
            - en-US
            - fr-FR
            - de
        title:
          description: Title of target resource
          type: string
          minLength: 1
          examples:
            - Resource Name
        uid:
          description: Unique identifier of target resource
          type: string
          format: uri
          examples:
            - urn:x-org:resourceType:0001
        rt:
          description: Semantic type of target resource (RFC 6690)
          type: string
          format: uri
          examples:
            - http://www.example.org/uri/of/concept
        if:
          description: Interface used to access target resource (RFC 6690)
          type: string
          format: uri
          examples:
            - http://www.opengis.net/spec/spec-id/version
    AbstractSWE:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Base substitution groups for all SWE Common objects other than value objects
      type: object
      properties:
        id:
          description: The ID of the object, referenceable using a URI fragment
          type: string
          minLength: 1
    AbstractSweIdentifiable:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Base substitution groups for all SWE Common objects with identification metadata
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties:
            label:
              description: Human readable label for the object
              type: string
              minLength: 1
            description:
              description: Human readable description of the object
              type: string
              minLength: 1
    AbstractDataComponent:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Abstract base class for all data components
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSweIdentifiable'
        - properties:
            type:
              type: string
            updatable:
              description: Specifies if the value of a data component can be updated externally (i.e., is variable)
              type: boolean
              default: false
            optional:
              description: Specifies if the data for this component can be omitted in the datastream
              type: boolean
              default: false
            definition:
              description: The definition of the property whose value is provided by this component (semantic link)
              type: string
              format: uri
    AbstractSimpleComponent:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            referenceFrame:
              description: Frame of reference (usually temporal or spatial) with respect to which the value of the component is expressed. A reference frame anchors a value to a real world datum.
              type: string
              format: uri-reference
            axisID:
              description: Specifies the reference axis (refer to CRS axisID). The reference frame URI should also be specified unless it is inherited from parent Vector
              type: string
              minLength: 1
            nilValues:
              description: Defines reserved values with special meaning (e.g., missing, out-of-range, etc.)
            constraint: {}
            value:
              description: Inline value(s) for the component. This property is optional to enable structure to act as a schema for values provided separately (e.g., in a datastream)
    Boolean:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: 'Scalar component used to express truth: True or False, 0 or 1'
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Boolean
            value:
              type: boolean
          required:
            - type
            - definition
            - label
    NumberOrSpecial:
      oneOf:
        - title: Number
          type: number
        - title: Special Value
          type: string
          enum:
            - NaN
            - Infinity
            - +Infinity
            - '-Infinity'
    AllowedValues:
      description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
      type: object
      properties:
        type:
          const: AllowedValues
        values:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/NumberOrSpecial'
        intervals:
          type: array
          minItems: 1
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              $ref: '#/components/schemas/NumberOrSpecial'
        significantFigures:
          type: integer
          minimum: 1
          maximum: 40
      anyOf:
        - title: Enum Values
          required:
            - values
        - title: Intervals
          required:
            - intervals
    NilValuesInteger:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            type: integer
        required:
          - reason
          - value
        additionalProperties: false
    Count:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component with integer representation used for a discrete counting value
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Count
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesInteger'
            value:
              type: integer
          required:
            - type
            - definition
            - label
    UnitReference:
      type: object
      properties:
        label:
          description: A human readable label for the unit
          type: string
          minLength: 1
        symbol:
          description: The preferred unit symbol to use when presenting the data in a UI (use the UCUM code instead if no symbol is provided)
          type: string
          minLength: 1
        code:
          type: string
          minLength: 1
        href:
          type: string
          format: uri
      anyOf:
        - title: UCUM Code
          required:
            - code
        - title: URI
          required:
            - href
      unevaluatedProperties: false
    NilValuesNumber:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            $ref: '#/components/schemas/NumberOrSpecial'
        required:
          - reason
          - value
        additionalProperties: false
    Quantity:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component with decimal representation and a unit of measure used to store value of a continuous quantity
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Quantity
            uom:
              description: Unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesNumber'
            value:
              $ref: '#/components/schemas/NumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    DateTimeNumberOrSpecial:
      oneOf:
        - title: Date/Time
          type: string
          format: date-time
        - $ref: '#/components/schemas/NumberOrSpecial'
    AllowedTimes:
      description: Defines the permitted values for the component, as a time range or an enumerated list of time values
      type: object
      properties:
        type:
          const: AllowedTimes
        values:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DateTimeNumberOrSpecial'
        intervals:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              $ref: '#/components/schemas/DateTimeNumberOrSpecial'
        significantFigures:
          type: integer
          minimum: 1
          maximum: 40
      anyOf:
        - title: Enum Values
          required:
            - values
        - title: Intervals
          required:
            - intervals
    NilValuesTime:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            $ref: '#/components/schemas/DateTimeNumberOrSpecial'
        required:
          - reason
          - value
        additionalProperties: false
    Time:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component used to represent a time quantity either as ISO 8601 (e.g., 2004-04-18T12:03:04.6Z) or as a duration relative to a time of reference
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Time
            referenceTime:
              description: Specifies the origin of the temporal reference frame as an ISO8601 date (used to specify time after an epoch that is to say in a custom frame)
              type: string
              format: date-time
            localFrame:
              description: Temporal frame of reference whose origin is located by the value of this component
              type: string
              format: uri
            uom:
              description: Temporal unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedTimes'
            nilValues:
              $ref: '#/components/schemas/NilValuesTime'
            value:
              $ref: '#/components/schemas/DateTimeNumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    AllowedTokens:
      description: Defines permitted values for the component, as an enumerated list of tokens or a regular expression pattern
      type: object
      oneOf:
        - title: Enum Values
          properties:
            type:
              const: AllowedTokens
            values:
              type: array
              minItems: 1
              items:
                type: string
                minLength: 1
          required:
            - values
        - title: Regex Pattern
          properties:
            type:
              const: AllowedTokens
            pattern:
              type: string
              format: regex
              minLength: 1
          required:
            - pattern
    NilValuesText:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            type: string
        required:
          - reason
          - value
        additionalProperties: false
    Category:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component used to represent a categorical value as a simple token identifying a term in a code space
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Category
            codeSpace:
              description: Name of the dictionary where the possible values for this component are listed and defined
              type: string
              format: uri
            constraint:
              $ref: '#/components/schemas/AllowedTokens'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: string
          required:
            - type
            - definition
            - label
    Text:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Free text component used to store comments or any other type of textual statement
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Text
            constraint:
              $ref: '#/components/schemas/AllowedTokens'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: string
          required:
            - type
            - definition
            - label
    AnyScalarComponent:
      oneOf:
        - $ref: '#/components/schemas/Boolean'
        - $ref: '#/components/schemas/Count'
        - $ref: '#/components/schemas/Quantity'
        - $ref: '#/components/schemas/Time'
        - $ref: '#/components/schemas/Category'
        - $ref: '#/components/schemas/Text'
    CountRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Integer pair used for specifying a count range
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: CountRange
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: integer
          required:
            - type
            - definition
            - label
    QuantityRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Decimal pair for specifying a quantity range with a unit of measure
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: QuantityRange
            uom:
              description: Unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesNumber'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                $ref: '#/components/schemas/NumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    TimeRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Time value pair for specifying a time range (can be a decimal or ISO 8601)
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: TimeRange
            referenceTime:
              description: Specifies the origin of the temporal reference frame as an ISO8601 date (used to specify time after an epoch that is to say in a custom frame)
              type: string
              format: date-time
            localFrame:
              description: Temporal frame of reference whose origin is located by the value of this component
              type: string
              format: uri
            uom:
              description: Temporal unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedTimes'
            nilValues:
              $ref: '#/components/schemas/NilValuesTime'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                $ref: '#/components/schemas/DateTimeNumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    CategoryRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Pair of categorical values used to specify a range in an ordinal reference system (specified by the code space)
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: CategoryRange
            codeSpace:
              description: Name of the dictionary defining an ordered set of values with respect to which the range is expressed (ordinal reference system)
              type: string
              format: uri
            constraint:
              $ref: '#/components/schemas/AllowedTokens'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: string
          required:
            - type
            - definition
            - label
    AnySimpleComponent:
      oneOf:
        - $ref: '#/components/schemas/AnyScalarComponent'
        - $ref: '#/components/schemas/CountRange'
        - $ref: '#/components/schemas/QuantityRange'
        - $ref: '#/components/schemas/TimeRange'
        - $ref: '#/components/schemas/CategoryRange'
    NameToken:
      type: string
      minLength: 1
      pattern: ^[A-Za-z][A-Za-z0-9_\-]*$
    SoftNamedProperty:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/NameToken'
      required:
        - name
    AssociationAttributeGroup:
      type: object
      properties:
        href:
          type: string
          format: uri-reference
        role:
          type: string
          format: uri
        arcrole:
          type: string
          format: uri
        title:
          type: string
          minLength: 1
      required:
        - href
    AnyComponent:
      oneOf:
        - $ref: '#/components/schemas/AnySimpleComponent'
        - $ref: '#/components/schemas/DataRecord'
        - $ref: '#/components/schemas/Vector'
        - $ref: '#/components/schemas/DataArray'
        - $ref: '#/components/schemas/Matrix'
        - $ref: '#/components/schemas/DataChoice'
        - $ref: '#/components/schemas/Geometry-2'
    DataRecord:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of ISO-11404 Record datatype. This allows grouping (sequence) of data components which can themselves be simple types, records, arrays or choices
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: DataRecord
            fields:
              description: Definition of the record fields. Fields can be scalars or can themself be aggregates such as records, vectors, arrays, or choices.
              type: array
              minItems: 1
              items:
                allOf:
                  - $ref: '#/components/schemas/SoftNamedProperty'
                  - oneOf:
                      - $ref: '#/components/schemas/AssociationAttributeGroup'
                      - $ref: '#/components/schemas/AnyComponent'
          required:
            - type
            - fields
    Vector:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of a mathematical vector composed of a list of scalar coordinates expressed in the mandatory reference frame.
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: Vector
            referenceFrame:
              description: Frame of reference (usually spatial) with respect to which the coordinates of this vector are expressed. A reference frame anchors a vector value to a real world datum.
              type: string
              format: uri-reference
            localFrame:
              description: Frame of reference whose origin is located by the coordinates of this vector
              type: string
              format: uri-reference
            coordinates:
              description: Definition of the coordinate provided as a data component with a numerical representation
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/SoftNamedProperty'
                  - oneOf:
                      - $ref: '#/components/schemas/Count'
                      - $ref: '#/components/schemas/Quantity'
                      - $ref: '#/components/schemas/Time'
          required:
            - type
            - definition
            - referenceFrame
            - label
            - coordinates
    ElementCount:
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            value:
              description: Value is optional, to enable structure to act as a schema for values provided using other encodings
              type: integer
    AbstractEncoding:
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties: {}
    Component:
      description: Binary encoding parameters used for encoding a single data component
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties:
            type:
              const: Component
            encryption:
              description: Name of the encryption method used to encrypt the value of this field
              type: string
              format: uri
            significantBits:
              description: Number of significant bits actually used for a binary encoded numerical value (all remaining bits shall be set to 0)
              type: integer
            bitLength:
              type: integer
            byteLength:
              description: Byte length of this field when a custom data type is used
              type: integer
            dataType:
              description: Binary data type used to encode the value(s) of the referenced data component
              type: string
              format: uri
            ref:
              description: Reference to the data component that these binary encoding settings apply to
              type: string
          required:
            - type
            - dataType
            - ref
    Block:
      description: Binary encoding parameters used to encode a block of values at once. This is used for encrypting or compressing a complete array of values for instance
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties:
            type:
              const: Block
            compression:
              description: Name of the compression method used to encrypt the block of values described by the referenced data component
              type: string
              format: uri
            encryption:
              description: Name of the encryption method used to encrypt the block of values described by the referenced data component
              type: string
              format: uri
            paddingBytes-after:
              description: Number of padding bytes present in the stream after this binary block
              type: integer
            paddingBytes-before:
              description: Number of padding bytes present in the stream before this binary block
              type: integer
            byteLength:
              description: Length in byte of this binary block (if known in advance)
              type: integer
            ref:
              description: Reference to the aggregate data component that this binary block encoding settings apply to
              type: string
          required:
            - type
            - ref
    BinaryEncoding:
      description: Parameters of the binary encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: BinaryEncoding
            byteOrder:
              description: Byte order convention used to encode this binary data (big endian = most significant byte first, MSB or little endian = least significant byte first, LSB)
              type: string
              enum:
                - bigEndian
                - littleEndian
            byteEncoding:
              description: Byte encoding method used to encode the binary data (raw or base 64)
              type: string
              enum:
                - base64
                - raw
            byteLength:
              description: Total length in bytes of the binary stream (if known in advance)
              type: integer
            members:
              description: Each member contains detailed parameters for encoding a scalar value or a block of values
              type: array
              minItems: 1
              items:
                oneOf:
                  - $ref: '#/components/schemas/Component'
                  - $ref: '#/components/schemas/Block'
          required:
            - type
            - byteOrder
            - byteEncoding
            - members
    TextEncoding:
      description: Parameters of the text encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: TextEncoding
            collapseWhiteSpaces:
              description: Indicates whether white spaces (i.e., space, tab, CR, LF) should be collapsed with separators when parsing the data stream
              type: boolean
            decimalSeparator:
              description: Character used as the decimal separator
              type: string
              minLength: 1
            tokenSeparator:
              description: Character sequence used as the token separator (i.e., between two successive values)
              type: string
              minLength: 1
            blockSeparator:
              description: Character sequence used as the block separator (i.e., between two successive blocks in the data set. The end of a block is reached once all values from the data tree have been encoded once)
              type: string
              minLength: 1
          required:
            - type
            - tokenSeparator
            - blockSeparator
    XMLEncoding:
      description: Parameters of the XML encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: XMLEncoding
            namespace:
              type: string
              format: uri
          required:
            - type
    JSONEncoding:
      description: Parameters of the JSON encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: JSONEncoding
            recordsAsArrays:
              type: boolean
              default: false
              description: If true, DataRecord values are encoded as JSON arrays instead of JSON objects
            vectorsAsArrays:
              type: boolean
              default: false
              description: If true, Vector values are encoded as JSON arrays instead of JSON objects
          required:
            - type
    EncodedValues:
      oneOf:
        - type: array
        - $ref: '#/components/schemas/AssociationAttributeGroup'
    AbstractArray:
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            elementCount:
              description: Specifies the size of the array (i.e., the number of elements of the defined type it contains)
              oneOf:
                - $ref: '#/components/schemas/AssociationAttributeGroup'
                - $ref: '#/components/schemas/ElementCount'
            elementType:
              description: Defines the structure of the element that will be repeated in the array
              allOf:
                - $ref: '#/components/schemas/SoftNamedProperty'
                - oneOf:
                    - $ref: '#/components/schemas/AssociationAttributeGroup'
                    - $ref: '#/components/schemas/AnyComponent'
            encoding:
              description: Specifies the type of method used to encode the array values
              oneOf:
                - $ref: '#/components/schemas/BinaryEncoding'
                - $ref: '#/components/schemas/TextEncoding'
                - $ref: '#/components/schemas/XMLEncoding'
                - $ref: '#/components/schemas/JSONEncoding'
            values:
              description: If present, contains an encoded block of the values contained in the array. Values are optional so that the array definition can be used a as a schema for values provided separately
              $ref: '#/components/schemas/EncodedValues'
    DataArray:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of ISO-11404 Array datatype. This defines an array of identical data components with a elementCount. Values are given as a block and can be encoded in different ways
      allOf:
        - $ref: '#/components/schemas/AbstractArray'
        - properties:
            type:
              const: DataArray
          required:
            - type
            - elementType
      $defs:
        AbstractArray:
          type: object
          allOf:
            - $ref: '#/components/schemas/AbstractDataComponent'
            - properties:
                elementCount:
                  description: Specifies the size of the array (i.e., the number of elements of the defined type it contains)
                  oneOf:
                    - $ref: '#/components/schemas/AssociationAttributeGroup'
                    - $ref: '#/components/schemas/ElementCount'
                elementType:
                  description: Defines the structure of the element that will be repeated in the array
                  allOf:
                    - $ref: '#/components/schemas/SoftNamedProperty'
                    - oneOf:
                        - $ref: '#/components/schemas/AssociationAttributeGroup'
                        - $ref: '#/components/schemas/AnyComponent'
                encoding:
                  description: Specifies the type of method used to encode the array values
                  oneOf:
                    - $ref: '#/components/schemas/BinaryEncoding'
                    - $ref: '#/components/schemas/TextEncoding'
                    - $ref: '#/components/schemas/XMLEncoding'
                    - $ref: '#/components/schemas/JSONEncoding'
                values:
                  description: If present, contains an encoded block of the values contained in the array. Values are optional so that the array definition can be used a as a schema for values provided separately
                  $ref: '#/components/schemas/EncodedValues'
    Matrix:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of ISO-11404 Array datatype. This defines an array of identical data components with a elementCount. Values are given as a block and can be encoded in different ways
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractArray'
        - properties:
            type:
              const: Matrix
            referenceFrame:
              description: Frame of reference (usually spatial) with respect to which the coordinates of this matrix are expressed
              type: string
              format: uri-reference
            localFrame:
              description: Frame of reference whose position and orientation are provided by the transformation defined by this matrix
              type: string
              format: uri-reference
          required:
            - type
            - elementType
    DataChoice:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of a choice of two or more Data Components (also called disjoint union)
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: DataChoice
            choiceValue:
              description: This category component marks the data stream element that will indicate the actual choice made. Possible choices are listed in the Category constraint section as an enumeration and should map to item names.
              $ref: '#/components/schemas/Category'
            items:
              description: Definition of the choice items. Items can be of any component types
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/SoftNamedProperty'
                  - oneOf:
                      - $ref: '#/components/schemas/AssociationAttributeGroup'
                      - $ref: '#/components/schemas/AnyComponent'
          required:
            - type
            - items
    Geometry:
      $schema: http://json-schema.org/draft-07/schema#
      $id: https://geojson.org/schema/Geometry.json
      title: GeoJSON Geometry
      oneOf:
        - title: GeoJSON Point
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - Point
            coordinates:
              type: array
              minItems: 2
              items:
                type: number
            bbox:
              type: array
              minItems: 4
              items:
                type: number
        - title: GeoJSON LineString
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - LineString
            coordinates:
              type: array
              minItems: 2
              items:
                type: array
                minItems: 2
                items:
                  type: number
            bbox:
              type: array
              minItems: 4
              items:
                type: number
        - title: GeoJSON Polygon
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - Polygon
            coordinates:
              type: array
              items:
                type: array
                minItems: 4
                items:
                  type: array
                  minItems: 2
                  items:
                    type: number
            bbox:
              type: array
              minItems: 4
              items:
                type: number
        - title: GeoJSON MultiPoint
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - MultiPoint
            coordinates:
              type: array
              items:
                type: array
                minItems: 2
                items:
                  type: number
            bbox:
              type: array
              minItems: 4
              items:
                type: number
        - title: GeoJSON MultiLineString
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - MultiLineString
            coordinates:
              type: array
              items:
                type: array
                minItems: 2
                items:
                  type: array
                  minItems: 2
                  items:
                    type: number
            bbox:
              type: array
              minItems: 4
              items:
                type: number
        - title: GeoJSON MultiPolygon
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - MultiPolygon
            coordinates:
              type: array
              items:
                type: array
                items:
                  type: array
                  minItems: 4
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: number
            bbox:
              type: array
              minItems: 4
              items:
                type: number
    Geometry-2:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Geometry
      description: Implementation of ISO-19107 geometry datatype. This allows embedding a geometry in a larger schema
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: Geometry
            constraint:
              type: object
              properties:
                geomTypes:
                  type: array
                  minLength: 1
                  items:
                    type: string
                    enum:
                      - Point
                      - MultiPoint
                      - LineString
                      - MultiLineString
                      - Polygon
                      - MultiPolygon
              additionalProperties: false
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            srs:
              description: Coordinate reference system with respect to which the coordinates of this geometry are expressed
              type: string
              format: uri
            value:
              $ref: '#/components/schemas/Geometry'
          required:
            - type
            - srs
            - definition
            - label
    commandSchemaJson:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        commandFormat:
          type: string
          const: application/json
        parametersSchema:
          description: Schema for the command `parameters`.
          $ref: '#/components/schemas/AnyComponent'
        resultSchema:
          description: Schema for the inline command results (if any).
          $ref: '#/components/schemas/AnyComponent'
        feasibilityResultSchema:
          description: Schema for the feasibility results (if any).
          $ref: '#/components/schemas/AnyComponent'
      required:
        - commandFormat
        - parametersSchema
    commandSchemaSwe:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        commandFormat:
          type: string
        recordSchema:
          $ref: '#/components/schemas/AnyComponent'
        encoding: {}
      required:
        - commandFormat
        - recordSchema
        - encoding
      oneOf:
        - title: SWE JSON
          properties:
            commandFormat:
              const: application/swe+json
            encoding:
              $ref: '#/components/schemas/JSONEncoding'
        - title: SWE Text
          properties:
            commandFormat:
              const: application/swe+text
            encoding:
              $ref: '#/components/schemas/TextEncoding'
        - title: SWE CSV
          properties:
            commandFormat:
              const: application/swe+csv
            encoding:
              allOf:
                - $ref: '#/components/schemas/TextEncoding'
                - properties:
                    tokenSeparator:
                      const: ','
                    blockSeparator:
                      const: |+

        - title: SWE Binary
          properties:
            commandFormat:
              const: application/swe+binary
            encoding:
              $ref: '#/components/schemas/BinaryEncoding'
    commandSchemaProtobuf:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        commandFormat:
          const: application/x-protobuf
        messageSchema:
          description: Protobuf schema provided as a string or as a link to an external proto file
          oneOf:
            - title: Inline schema
              type: string
              minLength: 1
            - title: Link to external file
              $ref: '#/components/schemas/link'
      required:
        - commandFormat
        - messageSchema
    commandSchemaAnyOther:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        commandFormat:
          type: string
          not:
            enum:
              - application/json
              - application/swe+json
              - application/swe+text
              - application/swe+binary
              - application/x-protobuf
        any:
          description: Any other properties to describe schema
      required:
        - commandFormat
    commandSchema:
      $schema: https://json-schema.org/draft/2020-12/schema
      oneOf:
        - title: JSON
          $ref: '#/components/schemas/commandSchemaJson'
        - title: SWE Common
          $ref: '#/components/schemas/commandSchemaSwe'
        - title: Protobuf
          $ref: '#/components/schemas/commandSchemaProtobuf'
        - title: Other format
          $ref: '#/components/schemas/commandSchemaAnyOther'
      required:
        - commandFormat
    links:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Link Collection
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/link'
    controlStream:
      $schema: https://json-schema.org/draft/2020-12/schema
      allOf:
        - $ref: '#/components/schemas/baseStream'
        - properties:
            system@link:
              description: Link to the system receiving the commands
              $ref: '#/components/schemas/link'
              readOnly: true
            inputName:
              description: Name of the system control input receiving data from this control stream
              type: string
            procedure@link:
              description: Link to the procedure used to execute commands (only provided if all commands in the control stream share the same procedure)
              $ref: '#/components/schemas/link'
            deployment@link:
              description: Link to the deployment during which the commands are/were received (only provided if all commands in the control stream share the same deployment)
              $ref: '#/components/schemas/link'
            featureOfInterest@link:
              description: Link to the ultimate feature of interest (only provided if all commands in the control stream share the same feature of interest)
              $ref: '#/components/schemas/link'
            samplingFeature@link:
              description: Link to the sampling feature (only provided if all commands in the control stream share the same sampling feature)
              $ref: '#/components/schemas/link'
            controlledProperties:
              oneOf:
                - type: 'null'
                - description: List of properties that are controllable through this control stream
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      definition:
                        type: string
                        format: uri
                      label:
                        type: string
                      description:
                        type: string
              readOnly: true
            issueTime:
              oneOf:
                - type: 'null'
                - description: Time extent spanning all issue times of commands in this control stream
                  $ref: '#/components/schemas/timePeriod'
                  readOnly: true
            executionTime:
              oneOf:
                - type: 'null'
                - description: Time extent spanning all execution times of commands in this control stream
                  $ref: '#/components/schemas/timePeriod'
                  readOnly: true
            live:
              oneOf:
                - type: 'null'
                - description: Flag indicating if the command channel can currently accept commands
                  type: boolean
                  readOnly: true
            async:
              description: Flag indicating if the command channel processes commands asynchronously
              type: boolean
            schema:
              description: Schema describing the content of commands in this control stream. The exact syntax of the schema depends on the encoding format.
              $ref: '#/components/schemas/commandSchema'
              writeOnly: true
            links:
              description: Links to related resources
              $ref: '#/components/schemas/links'
      required:
        - name
        - system@link
        - controlledProperties
        - issueTime
        - executionTime
        - live
        - async
    controlStreamCollection:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/controlStream'
        links:
          description: Links to related resources (including paging)
          $ref: '#/components/schemas/links'
      required:
        - items
  parameters:
    idList:
      name: id
      description: |-
        List of resource local IDs or unique IDs (URI).
        Only resources that have one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
      examples:
        id:
          summary: Local IDs
          value: RES_ID1,RES_ID2,RES_ID63
        uri:
          summary: Unique IDs
          value: urn:example:resource:001,urn:example:resource:033
    keyword:
      name: q
      in: query
      description: |-
        Comma separated list of keywords used for full-text search.
        Only resources that have textual fields that contain one of the specified keywords are selected.
        The resource `name` and `description` properties are always searched.
        It is up to the server to decide which other textual fields are searched.
      required: false
      schema:
        type: array
        items:
          type: string
          minLength: 1
          maxLength: 50
      explode: false
      examples:
        case1:
          summary: One keyword
          value: temp
        case2:
          summary: Several keywords
          value: gps,imu
    issueTime:
      name: issueTime
      in: query
      description: |-
        Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
        Intervals may be bounded or half-bounded (double-dots at start or end).

        Only resources with a `issueTime` property that intersects the value of the
        `issueTime` parameter are selected.
      required: false
      schema:
        $ref: '#/components/schemas/datetimeSchema'
      style: form
      explode: false
      examples:
        instant:
          summary: Time instant
          value: '2018-02-12T23:20:50Z'
        now:
          summary: Current time
          value: now
        period:
          summary: Bounded interval
          value: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
        period2:
          summary: Half-bounded interval
          value: 2018-02-12T00:00:00Z/..
        period3:
          summary: From date/time to now
          value: 2018-02-12T00:00:00Z/now
        period4:
          summary: From now to date/time
          value: now/2018-02-12T00:00:00Z
        period5:
          summary: Anything up to now
          value: ../now
        period6:
          summary: Anything from now on
          value: now/..
        latest:
          summary: Latest
          value: latest
    executionTime:
      name: executionTime
      in: query
      description: |-
        Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
        Intervals may be bounded or half-bounded (double-dots at start or end).

        Only resources with a `executionTime` property that intersects the value of the
        `executionTime` parameter are selected.
      required: false
      schema:
        $ref: '#/components/schemas/datetimeSchema'
      style: form
      explode: false
      examples:
        instant:
          summary: Time instant
          value: '2018-02-12T23:20:50Z'
        now:
          summary: Current time
          value: now
        period:
          summary: Bounded interval
          value: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
        period2:
          summary: Half-bounded interval
          value: 2018-02-12T00:00:00Z/..
        period3:
          summary: From date/time to now
          value: 2018-02-12T00:00:00Z/now
        period4:
          summary: From now to date/time
          value: now/2018-02-12T00:00:00Z
        period5:
          summary: Anything up to now
          value: ../now
        period6:
          summary: Anything from now on
          value: now/..
        latest:
          summary: Latest
          value: latest
    systemIdList:
      name: system
      description: |-
        List of system local IDs or unique IDs (URI).
        Only resources that are associated to a System that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    foiIdList:
      name: foi
      description: |-
        List of feature local IDs or unique IDs (URI).
        Only resources that are associated to a feature of interest that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    controlPropIdList:
      name: controlledProperty
      description: |-
        List of property local IDs or unique IDs (URI).
        Only resources that are associated to a controllable property that has one of the provided identifiers are selected.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/idListSchema'
      explode: false
    limit:
      name: limit
      in: query
      description: |-
        This parameter limits the number of items that are presented in the response document.

        Only items that are on the first level of the collection in the response document are counted.
        Nested objects contained within the explicitly requested items shall not be counted.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 10
      style: form
      explode: false
    systemId:
      name: systemId
      in: path
      description: Local identifier of a System
      required: true
      schema:
        type: string
        minLength: 1
    controlStreamId:
      name: controlStreamId
      in: path
      description: Local identifier of a Control Stream
      required: true
      schema:
        type: string
        minLength: 1
    cascade:
      name: cascade
      in: query
      description: If set to true, dependent resources are also deleted.
      required: false
      schema:
        type: boolean
        default: false
    cmdFormat:
      name: cmdFormat
      in: query
      description: Media type of the desired command format
      required: false
      schema:
        type: string
  responses:
    '201':
      description: Success. New resource created.
      headers:
        Location:
          schema:
            type: string
          description: URI of newly created resource
    '400':
      description: Bad request. Either the query parameters or the content body are invalid.
    '401':
      description: No authentication information was provided.
    '403':
      description: The user doesn't have the necessary permissions to access the resource.
    '404':
      description: No resource was found with the specified URL.
    controlStreamCollection:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/controlStreamCollection'
    5XX:
      description: Unexpected server error. Only retry on 502 and 503.
    controlStream:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/controlStream'
          examples:
            simple:
              summary: PTZ Control
              value:
                $ref: ../examples/controlstreams/controlstream-ptz.json
    204_PUT:
      description: Success. Resource updated.
    204_DELETE:
      description: Success. Resource deleted.
    409_DELETE:
      description: The resource cannot be deleted because other resources depend on it.
    commandSchema:
      description: OK. Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandSchema'
          examples:
            ptz-json:
              summary: PTZ Control - JSON
              value:
                $ref: ../examples/schemas/commandSchema-ptz-json.json
            ptz-swejson:
              summary: PTZ Control - SWE JSON
              value:
                $ref: ../examples/schemas/commandSchema-ptz-swejson.json
            ptz-swecsv:
              summary: PTZ Control - SWE CSV
              value:
                $ref: ../examples/schemas/commandSchema-ptz-swecsv.json
        application/schema+json:
          examples:
            scalar-omjson:
              summary: PTZ Control - JSON Schema
              value:
                $ref: ../examples/schemas/commandSchema-ptz-jsonschema-byref.json
        text/plain:
          examples:
            scalar-proto:
              summary: PTZ Control - Protobuf Schema
              value:
                $ref: ../examples/schemas/commandSchema-ptz.proto
    409_PUT:
      description: The resource cannot be updated because it conflicts with the existing resource version.
  requestBodies:
    controlStream:
      description: A single `ControlStream` resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/controlStream'
          examples:
            simple:
              summary: PTZ Control
              value:
                $ref: ../examples/controlstreams/controlstream-ptz-create.json
    commandSchema:
      description: A single `CommandSchema` resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/commandSchema'
          examples:
            ptz-json:
              summary: PTZ Control - Command JSON
              value:
                $ref: ../examples/schemas/commandSchema-ptz-json.json
            ptz-swejson:
              summary: PTZ Control - SWE JSON
              value:
                $ref: ../examples/schemas/commandSchema-ptz-swejson.json
            ptz-swecsv:
              summary: PTZ Control - SWE CSV
              value:
                $ref: ../examples/schemas/commandSchema-ptz-swecsv.json
